h1{
  color: bisque
}



table{
   font-family: inherit
   border-collapse:collapse;
   border-width:15px;
   borde-style:SOLID;
   border-color:bisque;
 
}

th{
    font-weight:800;
    color: bisque
    
  
}

tr.alt td{
           background-color:thistle;
}